<div class="neos-row-fluid">
    <fieldset class="neos-span5">
        <legend></legend>

        <div class="neos-control-group">
            <label class="neos-control-label" for="name">name</label>

            <div class="neos-controls">
                <f:form.textfield class="neos-span12" id="name" property="name"/>
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="embedcode">embedcode</label>

            <div class="neos-controls">
                <f:form.textarea class="neos-span12" id="embedcode" property="embedcode"/>
            </div>
        </div>

    </fieldset>
    <fieldset class="neos-span6 neos-offset1">
        <legend></legend>

        <div class="neos-control-group">
            <label class="neos-control-label" for="description">Description</label>

            <div class="neos-controls">
                <f:form.textarea class="neos-span12 hftodos-description" id="description"
                                 property="description"></f:form.textarea>
            </div>
        </div>

    </fieldset>
</div>
